src/*.o
src/*.lst
src/*.mod
src/MT*
src/bl_ysu.org.f90
*.ksh
run*
TCo383L72_fx10*
.d*
work/*
wrk_nmon/*
wrk_omix/*
wrk_ysu/*
wrk_ysu2/*
etc/gfs.tauchk
etc/namlsts_tco383
etc/namlsts_tco383_*
*.o*
*.stats
wrk_sample
src/depend
work_*
build
src/libtco.a
job/*.log
.*.swp
build_lake.sh
modulefiles/modulefile.tcogfs.fx1000_lake
src/Makefile_lake
exp*
build_*
__pycache__/
*.pyc
*.bc
